<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>AssetTransfer</h4><span>Transfer your assets with hyperledger Fabric</span>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6">
                            <app-form-validations></app-form-validations>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>