<div class="card">
    <div class="card-header">
        <h4>View previously executed transactions</h4>
    </div>
    <div class="table-responsive theme-scrollbar">
        <table class="table">
            <thead>
                <tr class="border-bottom-primary">
                    <th scope="col">Id</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Quantity</th>

                    <th scope="col">Asset</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @for (item of transactionList; track item) {
                <tr class="border-bottom-{{item.class}}">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.senderAccount}}</td>
                    <td>{{item.receiverAccount}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.asset}}</td>
                    <td>{{item.description}}</td>
<!--                    <td> <span class="badge badge-light-{{item.languageBg}}">{{item.language}}</span></td>-->
<!--                    <td>{{item.country}}</td>-->
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>